* {
    margin: 0;
    padding: 0;
}

.pane {
    display: flex;
    justify-content: normal;
}

.top-pane {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    background-color: white;
    min-height: 50px;
}

#findByName {
    width: 300px;
}

.mainPane {
    background-color: #F7F7F7;
    width: 78%;
}

.bottomPane {
    background-color: #F1F1F1;;
    height: 50px;
}

.img {
    background: center/cover no-repeat;
    width: 50px;
}

.content {
    display: flex;
    justify-content: normal;
}

.contentProduct {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 11%;
    margin-right: 11%;
}

.left-pane {
    background-color: #E5E5E5;
    width: 22%;
    min-width: 250px;
}

select {
    font-size: 14px;
    display: initial;
}

.item {
    border-style: solid;
    border-color: grey;
    border-radius: 5px;
    border-width: 2px;
    padding: 3px;
    margin: 5px;
    height: 300px;
    width: 300px;
    display: grid;
    justify-content: center;
}

.img-item {
    max-width: 100%;
    max-height: 192px;
}

.pages {
    display: flex;
    justify-content: center;
}

#nameProduct {
    display: flex;
    justify-content: normal;
}

.linkToProduct {
    font-size: 1.5rem;
}

.sidenav {
    min-width: 450px;
    width: 35%;
}

.sidenav-filter {
    display: flex;
    justify-content: center;
    align-content: start;
    flex-wrap: wrap;
    min-width: 300px;
}

#slide-out2 {
    display: flow-root;

}

#image-control img {
    width: 300px;
}

.controllers {
    display: flex;
    justify-content: center;
}

#selectPage {
    width: 60px;
}

.photo-editor {
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo-editor img{
    width: 85%;
    min-width: 85%;
}